html {
  background-color: rgb(255, 255, 123);
  font-family: Helvetica, Arial, sans-serif;
}

body {
  font-size: 1.5rem;
}

p {
  line-height: 2rem;
}

.text-center {
  text-align: center;
}

button:hover, .button:hover {
  background-color: #8cbfec;
}

button, .button {
  background-color: #57a7ec;
}

.button-secondary {
  background-color: #ec579b;
}

.button-secondary:hover {
  background-color: #ec92bb;
}
