html {
  background-color: rgb(255, 255, 123);
  font-family: Helvetica, Arial, sans-serif;
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body {
  font-size: 1.5rem;
}

p {
  line-height: 2rem;
}

.text-center {
  text-align: center;
}

button:hover, .button:hover {
  background-color: #8cbfec;
}

button, .button {
  padding: 20px;
  color: white;
  font-size: inherit;
  font-family: inherit;
  text-decoration: none;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  background-color: #57a7ec;
}

.button-secondary {
  background-color: #ec579b;
}

.button-secondary:hover {
  background-color: #ec92bb;
}
